{% extends 'aplicacionfloreria/base.html' %}
{% load static %}

{% block contenido %}

<section>

    <div class="container-fluid">
        <div class="p-5 bg-light">
            <div class="container">
                <h1 class="display-3 text-center bg-light">JARDINERIA</h1>
            </div>
        </div>
    </div>
   
</section>

<section>
    <div class="container p-0  ">
        <div class="row d-flex justify-content-center mx-0">
            <div class="col-lg-3 col-sm-6 text-center border shadow m-3 ">
                <img src="{% static 'aplicacionfloreria/img/jardineria1.jpg'%} " alt="" class="img-fluid">
                <h3>ORGANIZADOR DE HERRAMIENTAS</h3>
                <p>Precio: 16990</p>
                <button type="button" class="btn btn-success">Agregar al carrito</button>
            </div>
            <div class="col-lg-3 col-sm-6 text-center border shadow m-3">
                <img src=" {% static 'aplicacionfloreria/img/jardineria2.jpg'%} " alt="" class="img-fluid">
                <h3>TIJERON DE PODAR</h3>
                <p>Precio: 37990</p>
                <button type="button" class="btn btn-success">Agregar al carrito</button>
            </div>
            <div class="col-lg-3 col-sm-6 text-center border shadow m-3">
                <img src=" {% static 'aplicacionfloreria/img/jardineria3.jpg'%} " alt="" class="img-fluid">
                <h3>TIJERA DE PODAR</h3>
                <p>Precio: 16990</p>
                <button type="button" class="btn btn-success">Agregar al carrito</button>
            </div>
        </div>

        <div class="row d-flex justify-content-center mx-0">
            <div class="col-lg-3 col-sm-6 text-center border shadow m-3">
                <img src=" {% static 'aplicacionfloreria/img/jardineria4.jpg'%}" alt="" class="img-fluid">
                <h3>DESMALEZADOR MANUAL</h3>
                <p>Precio: 4990</p>
                <button type="button" class="btn btn-success">Agregar al carrito</button>
            </div>
            <div class="col-lg-3 col-sm-6 text-center border shadow m-3">
                <img src=" {% static 'aplicacionfloreria/img/jardineria5.jpg'%}" alt="" class="img-fluid">
                <h3>RASTRILLO</h3>
                <p>Precio: 3990</p>
                <button type="button" class="btn btn-success">Agregar al carrito</button>
            </div>
            <div class="col-lg-3 col-sm-6 text-center border shadow m-3">
                <img src=" {% static 'aplicacionfloreria/img/jardineria6.jpg'%} " alt="" class="img-fluid">
                <h3>PALA PARA JARDIN</h3>
                <p>Precio: 3990</p>
                <button type="button" class="btn btn-success">Agregar al carrito</button>
            </div>
        </div>

        <div class="row d-flex justify-content-center mx-0">
            <div class="col-lg-3 col-sm-6 text-center border shadow m-3">
                <img src=" {% static 'aplicacionfloreria/img/jardineria7.jpg'%} " alt="" class="img-fluid">
                <h3>CABESAL BARRE HOJAS</h3>
                <p>Precio: 29990</p>
                <button type="button" class="btn btn-success">Agregar al carrito</button>
            </div>
            <div class="col-lg-3 col-sm-6 text-center border shadow m-3">
                <img src=" {% static 'aplicacionfloreria/img/jardineria8.jpg' %}" alt="" class="img-fluid">
                <h3>BOLSA DE JARDIN</h3>
                <p>Precio: 21990</p>
                <button type="button" class="btn btn-success">Agregar al carrito</button>
            </div>
            <div class="col-lg-3 col-sm-6 text-center border shadow m-3">
                <img src=" {% static 'aplicacionfloreria/img/jardineria9.jpg' %} " alt="" class="img-fluid">
                <h3>CONTENEDOR DE JARDON MULTIUSO</h3>
                <p>Precio: 39990</p>
                <button type="button" class="btn btn-success">Agregar al carrito</button>
            </div>
        </div>
    </div>
</section>

{% endblock contenido %}